@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*basic*/
body{
    font-family: "Raleway", "Sans serif";
    margin: 0%;
}

/*header*/

header img{
    height: 45px;
    width: auto;
}

header div{
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

/*navigator*/
nav{
    display: flex;
    flex-direction: row;
    /* text-align: center; */
}

.navlink{
    border-bottom: 3px solid #F2F2F2;
    text-align: center;
    font-weight: 500;
    padding: 30px;
}

.navlink:visited, .navlink, a{
    text-decoration: none;
    color: black;
    margin: 5px;
}

.navlink:focus, .navlink:hover {
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
}

#sign{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

/*main*/
main div{
    margin-left: 10px;
    margin-right: 10px;
}
h1, p, h2{
    cursor: default;
}
h1,h2,h3,h4,h5,h6{
    font-size: 27px;
}

.star .fas{
    color: gold;
}
.star .none{
    color: gray;
}

/*formular*/

form{
    display: inline-flex;
    overflow: auto;
    margin-left: 25px;
}

#map{
    background-color: #F2F2F2;
    padding: 16px 20px;
    border-radius: 20px 0 0 20px;
    text-align: center;
}

form input{
    border: #F2F2F2 1px solid;
    padding: 15px;
    box-sizing: border-box;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

form button{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 0 25px;
    font-family: "Raleway", "Sans serif";
    font-size: 16px;
    cursor: pointer;
}

form #recherche{
    overflow: auto;
}

/*Filters*/
#filters{
    display: flex;
    align-items: flex-start;
}

.circle{
    border-radius: 100%;
    background-color: #DEEBFF;
    margin: -2px;
    height: 50px;
    width: 50px;
	color: #0065FC;
}

.filter{
    margin-left: 5px;
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
    margin-bottom: 10px;
    font-weight: bold;
	transition-duration: 0.1s;
}

.filter:hover{
    transform: scale(1.015);
	background-color: #F2F2F2;
}

.filter, .filter i, .filter p{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter p{
    padding: 0 13px;
}

/*info i*/

.info{
    border-radius: 100%;
    height: 32px;
    width: 32px;
	color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 100%;
    margin-bottom: 10px;
}

#information{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#information p {
    padding: 0 0 0 10px;
    align-items: initial;
}

#information i {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*les hebergements*/

#hl{
    margin: 0px;
}

/*les plus populaires*/

#lpp{
    background-color: #F2F2F2;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 40px;
}
#lpp img{
    object-fit: cover;
    height: 290px;
    width: 112px;
    border-radius: 40px 0px 0px 40px;
}

/*hebergement*/

#hebergement img{
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-radius: 40px 40px 0px 0px;
}

/*activite*/

#activite img{
    object-fit: cover;
    width: 290px;
    height: 112px;
}

/*row column*/

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.border{
    background-color: white;
    border-radius: 50px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.shadow{
    box-shadow: 10px 10px 10px #F2F2F2;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}
footer h1 {
    text-transform: uppercase;
    font-style: inherit;
}
footer div {
    width: 33%;
}
footer div ul {
    list-style: none;
    padding: 7px 0;
}
footer div li {
    display: block;
    margin: 0 2em;
}
footer div a {
    text-decoration: none;
}
footer div a:hover {
    color: black;
}

/*destock*/
@media (min-width: 1000px) {
    footer{
        flex-direction: row;
        align-items: center;
    }
    .center{
        text-align: center;
    }
    #lpp{
        order: 1;
        border-radius: 50px;
        margin-left: 20px;
    }
    #lpp h3{
        padding-left: 30px;
    }
    #hebergement{
        order: 0;
        background-color: #f2f2f2;
        border-radius: 50px;
        margin-right: 20px;

    }
    #hebergement h4{
        padding-left: 30px;
        margin-bottom: 0px;
    }
    .rowflex{
        display: flex;
        flex-direction: row;
    }
    #hl{
        display: flex;
    }

}

/*tablette*/
@media (max-width: 450px) {
    #recherche{
        display: none;
    }
    #top{
        display: none;
    }
    #filters{
        flex-direction: column;
    }
}

/*fone*/
@media (min-width: 450px) {
    #recherche_emot{
        display: none;
    }
    #bottom{
        display: none;
    }

}